body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #161616;
    padding: 10px 30 px;
}
.logo{
    display: flex;
    align-items: center;
    color:#fff
}
.logo-icon{
    font-size: 1.3em;
    margin-right: 8px;
}
.site-name{
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 1px;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.nav-links a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.2s;
}
nav-links a:hover{
    color: #e1e6eb;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: 8px;
    background: #232323;
    padding: 5px 10px;
    border-radius: 20px;
}
.search-bar input[type="text"]{
    border: none;
    outline: none;
    padding: 6px 10px;
    border-radius: 12px;
    font-size: 1em;
    width: 220 px;
}
.search-btn, .reset-btn{
    border: none;
    padding: 6px 12px;
    border-radius: 12px;
    background: #69c0ff;
    color: #fff;
    cursor: pointer;
    font-size: 0.95em;
    transition: background 0.2s;
}
.reset-btn{
    background: #333;
    margin-left: 4px;
}
.search-btn:hover {
 background: #40a9ff;
}
.reset-btn:hover {
    background: #555;
   }

   /* Footer */
footer {
    background-color: #0b2239;
    color: white;
    padding: 40px 20px 10px;
    text-align: center;
  }
  
  .footer-content h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  .footer-content p {
    font-size: 1rem;
    max-width: 600px;
    margin: 0 auto 20px;
  }
  
  .socials a {
    margin: 0 12px;
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .socials a:hover {
    color: #f9a825;
    transform: scale(1.2);
  }
  
  .footer-bottom {
    border-top: 1px solid #ffffff30;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 0.9rem;
    color: #ccc;
  }

  


